// COLORS
$color-black: #272727;
$color-white: #FFFFFF;
$color-grey: #ecf0f1;
$color-link: #DB0A5B;
$color-code: #00FF00;

// FONT
$oswald-url: "https://fonts.googleapis.com/css?family=Oswald:300,400,700";
$oswald: "Oswald";

// BREAKPOINTS
$br: 600px;