.posts {
  @include wrapper();

  .post-link {
    margin: 0;

    .post-title {
      word-spacing: -.2em;
      font-size: 3.4em;
      display: inline-block;
    }
  }
}

article.post {
  @include wrapper();
}